* {
	padding: 0;
	margin: 0;
	/* overflow: hidden; */
}
:root {
	--primary: rgb(9, 132, 227);
	--background-color: rgba(116, 186, 255, 0.102);
}
body {
	font-family: "Lato", sans-serif;
}

/* Scrollbar */
html::-webkit-scrollbar {
	width: 10px;
}

html::-webkit-scrollbar-track {
	background: rgb(179, 177, 177);
	background: var(--background-color);
	border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
	background: rgb(136, 136, 136);
	/* background: var(--light); */
	border-radius: 10px;
}

html::-webkit-scrollbar-thumb:hover {
	background: rgb(100, 100, 100);
	/* background: var(--dark); */
	border-radius: 10px;
}

html::-webkit-scrollbar-thumb:active {
	background: rgb(68, 68, 68);
	/* background: var(--darker); */
	border-radius: 10px;
}

#particles-js {
	width: 100%;
	height: 100vh;
	position: relative;
	/* z-index: -2; */
	/* background-position: center; */
	/* background-size: cover; */
}
.center-div {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	pointer-events: none;
	overflow: hidden;
}
nav {
	display: flex;
	position: fixed;
	justify-content: flex-end;
	padding: 10px;
	background-color: rgba(247, 247, 247, 0.6);
	/* background-color: var(--background-color); */
	z-index: 2;
	width: 100%;
}
nav > a {
	color: #222f3e;
	/* color: var(--primary); */
	text-decoration: none;
	margin-right: 20px;
	font-size: 1.7rem;
	pointer-events: all;
}
.container {
	display: flex;
	flex: 1;
	justify-content: space-between;
	padding-top: 50px;
	box-sizing: border-box;
}
.container > .left,
.container > .right {
	width: 45%;
}
.container > .left {
	display: flex;
	justify-content: center;
	align-items: center;
}
.left > img {
	position: relative;
	object-fit: contain;
	max-height: 80vh;
	max-width: 50vw;
	animation-name: moveUp;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes moveUp {
	from {
		bottom: -400px;
	}
	to {
		bottom: 0;
	}
}
.right-container {
	position: absolute;
	animation: moveLeft 1s forwards;
	overflow: hidden;
	top: 50%;
	background-color: #222f3e;
	color: white;
	height: 15rem;
	width: 24rem;
	/* align-items: center; */
	padding-left: 50px;
	padding-top: 50px;
	transform: translate(-50%, -50%);
	border-radius: 4px;
	pointer-events: all;
	font-size: 1.8rem;
}
@keyframes moveLeft {
	from {
		right: -500px;
	}
	to {
		right: -50px;
	}
}

.skill {
	height: 300px;
	background: red;
}
.right-container > div:first-child {
	padding-bottom: 10px;
}

.cont {
	display: flex;
}
.cont > .about-left,
.cont > .about-right {
	flex: 1;
}
.about-left > img {
	max-width: 100%;
	max-height: 100%;
}

@media only screen and (max-width: 1200px) {
	@keyframes moveLeft {
		from {
			right: -500px;
		}
		to {
			right: -150px;
		}
	}
	.right-container {
		font-size: 1.5rem;
	}
}

/* mobile desktop screen */
@media only screen and (width: 980px) and (min-height: 1800px) {
	.container {
		flex-direction: column-reverse;
		padding-top: 100px;
	}
	.container > .left,
	.container > .right {
		width: 100%;
	}
	.right-container {
		position: relative;
		/* height: 150px; */
		transform: none;
		top: 10px;
		width: 85%;
	}
	@keyframes moveUp {
		from {
			bottom: -400px;
		}
		to {
			bottom: 300px;
		}
	}
	.right {
		justify-content: center;
	}
	@keyframes moveLeft {
		from {
			left: 500px;
		}
		to {
			left: 5%;
		}
	}
	.left > img {
		height: 50vh;
		bottom: 100px;
	}
	nav > a {
		font-size: 2.5rem;
	}
}
@media only screen and (max-width: 768px) {
	.right-container {
		font-size: 1.3rem;
		width: 300px;
		padding-top: 25px;
		padding-left: 25px;
		height: 200px;
	}
}
@media only screen and (max-width: 666px) {
	.container {
		flex-direction: column-reverse;
	}
	.container > .left,
	.container > .right {
		width: 100%;
	}
	.right-container {
		position: relative;
		height: 150px;
		transform: none;
		top: 10px;
		font-size: 1rem;
		width: 80%;
	}
	.right {
		justify-content: center;
	}

	@keyframes moveLeft {
		from {
			left: 500px;
		}
		to {
			left: 6%;
		}
	}
	@keyframes moveUp {
		from {
			bottom: -400px;
		}
		to {
			bottom: 50px;
		}
	}
	.left > img {
		height: 50vh;
		padding-bottom: 30px;
		max-width: 100%;
		max-height: auto;
		width: auto;
	}
	nav > a {
		font-size: 1.1rem;
	}
}
